.jumbotron {
  background-color: #990c32;
  margin-top: 35px;
  margin-bottom: 0px;
  color: white; }

.footer {
  background-color: #990c32;
  color: white;
  padding: 20px 10px 0 10px;
  margin-top: 20px;
  margin-bottom: 0px; }

.card-sites {
  flex: 1 250px;
  padding: 2px 10px 20px 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 5px;
  margin-left: 5px; }

.btn-masinfo {
  width: 100%;
  margin-top: auto;
  border-radius: 10px; }

.footer-address-icon {
  padding-right: 10px; }

.tab-content {
  margin-top: 20px;
  margin-bottom: 10px; }
