$yellow: #990c32;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

.jumbotron {
	background-color: $yellow;
	@include margenes(35px, 0px);
	color: white;
}

.footer {
	background-color: $yellow;
	color: white;
	padding: 20px 10px 0 10px;

	@include margenes(20px, 0px);

}

.card-sites {
	flex: 1 250px;
	padding: 2px 10px 20px 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 5px;
	margin-left: 5px;
}

.btn-masinfo {
	width: 100%;
	margin-top: auto;
	border-radius: 10px;

}


.footer-address-icon {

	padding-right: 10px;

}

.tab-content {
	
	@include margenes(20px, 10px);

}
